@using Common.ViewModels;
@using FrontEnd.Models;
@using Newtonsoft.Json

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isCoordinador = GlobalConfig.isCoordinador;
    var isSupervisor = GlobalConfig.isSupervisor;
    var isOperador = GlobalConfig.isOperador;

    var unidadOrganica = isOperador ? GlobalConfig.unidadOrganica : TempData["unidadOrganica"] as string;
    var dependencias = ViewBag.lstDependenciaGrouped as List<DependenciaViewModel>;

    var listAnios = Helper.ListarAnios();
}

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Programación Actualizada</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Programación</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Programación Actualizada</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col">
                <!-- FILTROS DE BÚSQUEDA -->
                <section class="card card-secondary mb-3">
                    <h5 class="card-header text-bg-secondary">Criterio de Búsqueda</h5>
                    <div class="row card-body align-items-end">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ddlUnidadOrganica" class="form-label">Unidad de Organización Responsable</label>
                                <select id="ddlUnidadOrganica" class="form-select" placeholder="Seleccionar Dependencia" @(!isOperador ? "" : "disabled") style="width: 100%;">
                                    @foreach (var dependecia in dependencias)
                                    {
                                        <option value="@dependecia.iCodigoDependencia" @(dependecia.iCodigoDependencia.ToString() == unidadOrganica ? "selected" : "")>@dependecia.vDependencia</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="ddlAnio" class="form-label">Periodo</label>
                                <select class="form-select" aria-label="" id="ddlAnio">
                                    @foreach (var anio in listAnios)
                                    {
                                        <option value="@anio">@anio</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <button class="btn btn-sm btn-dark" id="btnBuscar">Buscar</button>
                            </div>
                        </div>
                    </div>
                </section>
                @*LISTADO DE ACTIVIDADES OPERATIVAS*@
                <section class="card card-secondary mb-3">
                    <h5 class="card-header text-bg-secondary">Listado de Actividades Operativas</h5>
                    <div class="card-body row align-items-end">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <h5 class="fw-bold"></h5>

                            @* Si es supervisor, NO puede realizar estas acciones*@

                            @if (!isSupervisor)
                            {
                                <div>
                                    <button type="button" class="btn btn-sm btn-dark" onclick="Abrir_Actividad_Modal()">Agregar A.O.</button>
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="Abrir_Modal_Codigo_AO()">Agregar Código A.O.</button>
                                </div>
                            }
                        </div>
                        <table class="table table-striped table-responsive" id="table-actividad-operativa">
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 10%">
                                <col style="width: 25%;">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 10%">
                            </colgroup>
                            <thead class="">
                                <tr>
                                    <th>N°</th>
                                    <th>Finalidad Pres.</th>
                                    <th>Denominación de la Actividad Operativa</th>
                                    <th>Objetivo Est.</th>
                                    <th>Acción Est.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr><td colspan="6" class="text-center fw-bold">No hay registros</td></tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section class="mt-3">
                </section>

                <div id="partialFormContainer"></div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>

@section Scripts {
    <script type="text/javascript">
        const isSupervisor = @Html.Raw(@JsonConvert.SerializeObject(isSupervisor));

        $("#ddlUnidadOrganica").select2();

        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": true,
        }

        function Listar_Actividad_Operativa() {
            const nAnio = $("#ddlAnio").val();
            const Codigo_Dependencia = $("#ddlUnidadOrganica").val();

            if (!Codigo_Dependencia) {
                toastr.error("Debe ingresar una Unidad Orgánica");
                return;
            }

            $.ajax({
                url: '@Url.Action("Listar_Actividad_Operativa_Act", "ProgramacionActualizada")',
                beforeSend: function () {
                    //$('#loading').modal('show');
                },
                content: "application/json; charset=utf-8",
                dataType: "json",
                type: 'POST',
                data: {
                    nAnio: nAnio,
                    Codigo_Dependencia: Codigo_Dependencia
                },
                success: function (data) {
                    const tbody = document.querySelector("#table-actividad-operativa > tbody");
                    tbody.innerHTML = Construir_Filas_Actividad_Operativa(data);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                },
                complete: function () {
                    //$('#loading').modal('hide');
                }
            });
        }

        function Construir_Filas_Actividad_Operativa(lista) {
            let html = "";
            if (lista.length == 0) {
                html += `<tr><td colspan="6" class="text-center fw-bold">No hay registros</td></tr>`
            } else {
                const urlTarea = "@Url.Action("Tareas", "ProgramacionActualizada")"
                lista.forEach((item) => {
                    html += `
                    <tr>
                        <td>${item.Codigo_Actividad}</td>
                        <td><b>${item.Codigo_Finalidad_Presupuestal}</b></td>
                        <td><b>${item.Codigo_Finalidad_Presupuestal}</b> ${item.Denominacion}</td>
                        <td>${item.Descripcion_Objetivo}</td>
                        <td>${item.Descripcion_Accion}</td>
                        <td class="text-center">
                            ${item.Id_Actividad_Incrementable_Act != 0
                            ?
                        `<a href="${urlTarea}?Id_Actividad=${item.Id_Actividad_Incrementable_Act}" class="btn btn-sm btn-secondary" title="Ver Tareas">
                                <i class="fa fa-sign-in"></i>
                            </a>`
                        : ""}
                        ${isSupervisor ? "" :
                            `<button class="btn btn-sm btn-secondary" title="Editar" onclick="Abrir_Actividad_Modal(${item.Id_Actividad_Incrementable_Act}, ${item.Id_Codigo_Actividad_Cat})">
                                <i class="fa fa-pencil"></i>
                            </button>
                                <button class="btn btn-sm btn-danger" title="Desactivar" onclick="Desactivar_Actividad_Operativa(${item.Id_Actividad_Incrementable_Act})">
                                <i class="fa fa-trash"></i>
                            </button>`
                        }
                        </td>
                    </tr>
                    `;
                });
            }
            return html;
        }

        $(document).on("change", "#Cod_Objetivo_Est", function (event) {
            let elemento = event.target;
            if (elemento.value == "" || elemento.value == null) return;
            const IdAccionEl = document.querySelector("#Cod_Accion_Est");
            $.ajax({
                url: '@Url.Action("Listar_Accion_Por_Objetivo", "Planeamiento")',
                beforeSend: function () {
                    $('#loading').modal('show');
                },
                data: {
                    Id_Objetivo: elemento.value
                },
                content: "application/json; charset=utf-8",
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    IdAccionEl.innerHTML = "";
                    data.forEach(({ Id_Accion, DescripcionCompleta }) => {
                        IdAccionEl.innerHTML += `<option value="${Id_Accion}">${DescripcionCompleta}</option>`
                    });
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                },
                complete: function () {
                    $('#loading').modal('hide');
                }
            });
        });

        $(document).on("submit", "#createActividadForm", function (event) {
            event.preventDefault();
            const $form = $(this);
            $.ajax({
                url: $form.attr("action"),
                beforeSend: function () {
                    $('#loading').modal('show');
                },
                type: "POST",
                data: $form.serialize(),
                success: function (response) {
                    if (!response.success) {
                        response.errors.forEach(({ Field, Errors }) => {
                            console.log($form.find(`#${Field}`));
                            const errorField = $form.find(`#${Field} ~ .error-message`);
                            errorField.html(`${Errors.map((error) => `<span>${error}</span>`).join("")}`);
                        });
                        return;
                    }

                    $form.find(".error-message").html("");

                    if (response.data.Status == "error") {
                        toastr.error(response.data.Message);
                        return;
                    }

                    $("#actividadOperativaModal").modal("hide");
                    toastr.success(response.data.Message);
                    Listar_Actividad_Operativa();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                },
                complete: function () {
                    $('#loading').modal('hide');
                }
            });
        });

        $("#btnBuscar").click(Listar_Actividad_Operativa);

        Listar_Actividad_Operativa()

        function Desactivar_Actividad_Operativa(Id_Actividad_Incrementable) {
            swal({
                title: "¿Estás seguro que deseas eliminar al cliente?",
                text: "¡Usted ya no podrá recuperar al cliente!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, deseo eliminarlo!"
            }, function () {
                $.ajax({
                    url: '@Url.Action("Desactivar_Actividad_Operativa", "ProgramacionActualizada")',
                    beforeSend: function () {
                        $('#loading').modal('show');
                    },
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'POST',
                    data: {
                        iCodActividad: Id_Actividad_Incrementable
                    },
                    success: function (response) {
                        if (!response.success) {
                            toastr.error(response.data);
                            return;
                        }

                        if (response.data.Status == "error") {
                            toastr.error(response.data.Message);
                            return;
                        }

                        toastr.success(response.data.Message);
                        Listar_Actividad_Operativa();
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log("Error: ", errorMessage);
                    },
                    complete: function () {
                        $('#loading').modal('hide');
                    }
                });
            });
        }

        function Abrir_Actividad_Modal(Id_Actividad_Incrementable = 0, Id_Codigo_Actividad_Cat) {
            const Codigo_Dependencia = $("#ddlUnidadOrganica").val();
            const nAnio = $("#ddlAnio").val();

            if (!Codigo_Dependencia) {
                toastr.error("Debe seleccionar una unidad de organización responsable");
                return;
            }

            if (!nAnio) {
                toastr.error("Debe seleccionar un año");
                return;
            }

            const model = {
                Codigo_Actividad_Incrementable: Id_Actividad_Incrementable,
                Cod_Unidad_Organica: Codigo_Dependencia,
                nAnio,
                Id_Codigo_Actividad_Cat
            };

            $.ajax({
                url: '@Url.Action("CreateActividadOperativa_Act", "ProgramacionActualizada")',
                type: 'GET',
                beforeSend: function () {
                    $('#loading').modal('show');
                },
                data: model,
                success: function (data) {
                    $("#partialFormContainer").html(data);
                    $("#actividadOperativaModal").modal("show");
                },
                error: function () {
                    alert('Error al cargar el formulario.');
                },
                complete: function () {
                    $('#loading').modal('hide');
                }
            });
        }

        function Abrir_Modal_Codigo_AO() {
            const Codigo_Dependencia = $("#ddlUnidadOrganica").val();
            const nAnio = $("#ddlAnio").val();

            if (!Codigo_Dependencia) {
                toastr.error("Debe seleccionar una unidad de organización responsable");
                return;
            }

            if (!nAnio) {
                toastr.error("Debe seleccionar un año");
                return;
            }

            const model = {
                Catalogo_AO_Codigo_Dependencia: Codigo_Dependencia,
                nAnio
            }

            $.ajax({
                url: '@Url.Action("CreateCodigoActividadOperativa", "Planeamiento")',
                type: 'GET',
                beforeSend: function () {
                    $('#loading').modal('show');
                },
                data: model,
                success: function (data) {
                    $("#partialFormContainer").html(data);
                    $("#actividadOperativaModal").modal("show");
                },
                error: function () {
                    alert('Error al cargar el formulario.');
                },
                complete: function () {
                    $('#loading').modal('hide');
                }
            });
        }
    </script>
}